
.about {
  text-align: center;

  p {
    color: $txt-color;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: .6em;
  }
}

.about-head {
  padding: 2em 0 0;

  h3 {
    color: $txt-color;
    font-weight: $font-weight-bold;
    margin: 0 0 .6em;
  }

  span {
    color: lighten($txt-color, 10%);
  }
}