/*===============================
=            Buttons            =
===============================*/

.button {
  padding: .8em 2em;
  text-decoration: none;
  border: none;
  margin-top: 1em;
  display: inline-block;
  color: $white-color;
  font-size: 1.2em;
  text-align: center;
  transition: .4s background ease, .4s color ease;
  border-radius: .4em;
  background: $primary-color;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    background: lighten($primary-color, 7%);
    text-decoration: none;
    color: $white-color;
  }

  &.ghost {
    background-color: transparent;
    border: 2px solid $white-color;
    border: 2px solid rgba($white-color, .9);

    &:hover,
    &:focus,
    &:active {
      border-color: rgba($white-color, .7);
      background-color: rgba($white-color, .1);
      text-decoration: none;
      color: $white-color;
    }
  }
}

