
.main-header {
  background: url(../images/header-default.jpg);
  background-size: cover;
  min-height: 700px;
}

.logo {
  float: left;
  margin-top: .6em;

  a {
    display: block;
  }
}

.top-nav {
  margin-top: 2.2em;
  position: relative;
  float: right;

  ul {
    padding: 0;
    float: right;
    margin: 1.2em 0;
  }

  li {
    display: inline;
    float: left;
    position: relative;
    margin-left: 12px;

    &.active a,
    & a:hover {
      color: #fff;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    color: #72787C;
    padding: 0.23em 1em;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    font-weight: 300;

    &:hover {
      text-decoration: none;
      color: #00A2C1;
    }

    &#pull {
      display: none;
    }
  }


  @include media(max-width $screen-tablet) {
    height: auto;
    float: none;

    ul {
      width: 100%;
      display: block;
      height: auto;
    }

    li {
      width: 100%;
      position: relative;

      a {
        border-bottom: 1px solid #888;
        margin: 0px -13px;
      }
    }

    a {
      text-align: left;
      width: 100%;
    }
  }
}

.tittle-head {
  text-align: center;
  margin: 8% auto;
  width: 58%;

  h1 {
    color: $white-color;
    font-size: 4em;
    padding: 0;
    font-weight: $font-weight-bold;
    text-align: center;
    line-height: 1.4em;
  }

  p {
    color: rgba(#fff, 0.7);
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    margin: 1em 0;
  }

  .button {
    padding: 1em;
    font-size: 2rem;
  }
}