

.location {
  background: url(../images/bg-map.jpg);
  background-size: cover;
  min-height: 400px;

  .button {
    padding-left: 2.2em;
    padding-right: 2.2em;
  }

  .section-head {
    text-align: center;
    padding: 4.5em 0;

    h2 {
      color: $white-color;
      font-size: 3.2em;
      padding: 0;
      font-weight: $font-weight-bold;
      line-height: 1.4em;
    }

    span {
      color: rgba($white-color, 0.7);
    }
  }
}
