
<!-- PARTNERS -->
<section class="partners" id="partners">
  <div class="container">

    <header class="section-head">
      <h2 class="section-title">Parceiros</h2>
    </header>

    <ul class="partners-list">
    {% for partner in page.partners %}
      <li class="partner-item">
        <a class="partner-logo partner-link" href="{{ partner.url }}"><img src="{{ partner.logo }}" alt="{{ partner.name }}" class="photo" /></a>
      </li>
    {% endfor %}
      <li class="partner-item">
        <a class="partner-logo partner-link partner-call" href="#"><img src="assets/img/your-logo.jpg" alt="your logo" class="photo" /></a>
      </li>
    </ul>

  </div>
</section>
<!-- / PARTNERS -->
