
{% include section/register-banner.html %}

<!-- SCHEDULE -->
<section id="schedule" class="schedule sections">

  <div class="container">

    <div class="section-head">
      <h2>Cronograma</h2>
      <span>Confira a programação</span>
    </div>


  {% for schedule in page.schedule %}
    {% if schedule.presentation %}
    <div class="col-md-5 col-md-offset-1 lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow color-primary">
                <div class="col-md-12">
                    <div class="lib-row lib-header">
                        <span class="data">
                          <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                          {{ schedule.presentation.time }}
                        </span>
                        <p class="title">{{ schedule.presentation.title }}</p>
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                          <p class="desc">{{ schedule.presentation.description | strip_html | truncatewords: 40 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="col-md-5 col-md-offset-1 lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow color-comp">
                <div class="col-md-12">
                    <div class="lib-row lib-header">
                        <span class="data">
                            <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                            {{ schedule.time }}
                          </span>
                         <p class="title">{{ schedule.name }}</p>
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                        <p class="desc">{{ schedule.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
  {% endfor %}







    <!-- <div class="schedule-tbl">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="schedule-time">Tempo</th>
            <th class="schedule-slot">Slot</th>
            <th class="schedule-description">Descrição</th>
          </tr>
        </thead>
        <tbody>
          {% for schedule in page.schedule %}
            {% if schedule.presentation %}
              <tr>
                <td class="schedule-time">{{ schedule.presentation.time }}</td>
                <td class="schedule-slot">{{ schedule.presentation.title }}</td>
                <td class="schedule-description">{{ schedule.presentation.description | strip_html | truncatewords: 40 }}</td>
              </tr>
            {% else %}
              <tr class="schedule-other">
                <td class="schedule-time">{{ schedule.time }}</td>
                <td class="schedule-slot">{{ schedule.name }}</td>
                <td class="schedule-description">{{ schedule.description }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div> -->

  </div>

</section>
<!-- / SCHEDULE -->
