{% if site.sections.schedule %}
<!-- SCHEDULE -->
<section class="schedule sections" id="schedule">

  <div class="container">

    <div class="speaker-head">
      <h2>Cronograma</h2>
      <p>Conheça os caras!</p>
    </div>

    <div class="schedule-tbl">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="schedule-time">Tempo</th>
            <th class="schedule-slot">Slot</th>
            <th class="schedule-description">Descrição</th>
          </tr>
        </thead>
        <tbody>
          {% for slot in site.data.schedule %}
            {% if slot.presentation %}
              <tr>
                <td class="schedule-time">{{ slot.presentation.time }}</td>
                <td class="schedule-slot">{{ slot.presentation.title }}</td>
                <td class="schedule-description">{{ slot.presentation.description }}</td>
              </tr>
            {% else %}
              <tr class="schedule-other">
                <td class="schedule-time">{{ slot.time }}</td>
                <td class="schedule-slot">{{ slot.name }}</td>
                <td class="schedule-description">{{ slot.description }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</section>
<!-- / SCHEDULE -->
{% endif %}