
{% include section/register-banner.html %}

<!-- SCHEDULE -->
<section id="schedule" class="schedule sections">

  <div class="container">

    <div class="section-head">
      <h2>Cronograma</h2>
    </div>

    <div class="schedule-list">
      {% for schedule in page.schedule %}
        {% if schedule.presentation %}
          <a href="#" class="panel-heading">
            <div class="row">
              <div class="col-md-2">{{ schedule.presentation.time }}</div>
              <div class="col-md-10">{{ schedule.presentation.title }}</div>
            </div>
          </a>
        {% else %}
          <a href="#" class="panel-heading">
            <div class="row">
              <div class="col-md-2">{{ schedule.time }}</div>
              <div class="col-md-10">{{ schedule.name }}</div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="schedule-tbl">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="schedule-time">Tempo</th>
            <th class="schedule-slot">Slot</th>
            <th class="schedule-description">Descrição</th>
          </tr>
        </thead>
        <tbody>
          {% for schedule in page.schedule %}
            {% if schedule.presentation %}
              <tr>
                <td class="schedule-time">{{ schedule.presentation.time }}</td>
                <td class="schedule-slot">{{ schedule.presentation.title }}</td>
                <td class="schedule-description">{{ schedule.presentation.description | strip_html | truncatewords: 40 }}</td>
              </tr>
            {% else %}
              <tr class="schedule-other">
                <td class="schedule-time">{{ schedule.time }}</td>
                <td class="schedule-slot">{{ schedule.name }}</td>
                <td class="schedule-description">{{ schedule.description }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

</section>
<!-- / SCHEDULE -->
