/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: #fff;
}

a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*-----start-header----*/

.logo {
  float: left;
  margin-top: .6em;
}

.top-nav {
  margin-top: 2.2em;

  li {}
}

.logo a {
  display: block;
}

/* top-nav */

.top-nav {
  position: relative;
  float: right;

  // &:before {
  //   content: " ";
  //   display: table;
  // }

  // &:after {
  //   content: " ";
  //   display: table;
  //   clear: both;
  // }

  ul {
    padding: 0;
    float: right;
    margin: 1.2em 0;
  }

  li {
    display: inline;
    float: left;
    position: relative;
    margin-left: 12px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    color: #72787C;
    padding: 0.23em 1em;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    font-weight: 300;

    &:hover {
      text-decoration: none;
      color: #00A2C1;
    }

    &#pull {
      display: none;
    }
  }

  li.active a,
  li a:hover {
    color: #fff;
  }
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
  .top-nav {
    height: auto;
    float: none;

    ul {
      width: 100%;
      display: block;
      height: auto;
    }

    li {
      width: 100%;
      position: relative;

      a {
        border-bottom: 1px solid #888;
        margin: 0px -13px;
      }
    }

    a {
      text-align: left;
      width: 100%;
    }
  }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width: 768px) {
  .top-nav {
    border-bottom: 0;
    float: none;

    ul {
      display: none;
      height: auto;
      margin: 1.3em 0;
      background: #eee;
    }

    a#pull {
      display: block;
      position: relative;
      color: #F26D7D;
      text-align: right;
      position: absolute;
      top: 18px;

      &:after {
        content: "";
        background: url("nav-icon.png") no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
      }

      img {
        margin-right: 2%;
      }
    }
  }

  .top-nav ul li a {
    color: #2C3E50;
    padding: 0em 0;
  }
}

/*Smartphone*/
@media only screen and (max-width: 320px) {
  .top-nav {
    float: none;

    li {
      display: block;
      float: none;
      width: 100%;

      a {
        border-bottom: 1px solid #888;
      }
    }
  }
}

/*----slider----*/

.main-header {
  background: url(../images/bg.jpg);
  background-size: cover;
  min-height: 700px;
}

#slider2, #slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}

.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  width: 100%;

  li {
    display: inline;
    float: none;
    margin-right: 1px;
  }

  a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
  }

  li:first-child {
    margin-left: 0;
  }

  .rslides_here a {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: bold;
  }
}

.events {
  list-style: none;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  img {
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
    width: 100%;
  }

  .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    left: 8%;
    right: 8%;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
    top: 0%;
  }
}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 27%;
  left: 16%;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 43px;
  width: 43px;
  background: transparent url("../images/slider-arrows.png") no-repeat left top;
  margin-top: -65px;
  display: none;

  &:active {
    opacity: 1.0;
  }

  &.next {
    left: auto;
    background-position: right top;
    left: 19.7%;
    display: none;
  }
}

#slider3-pager {
  a {
    display: inline-block;
  }

  span {
    float: left;
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
  }

  .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
  }

  a {
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }

  img {
    height: auto;
    border: 0;
  }
}

.callbacks_tabs {
  display: none;

  li {
    display: inline-block;
  }

  a {
    visibility: hidden;

    &:after {
      content: "\f111";
      font-size: 0;
      font-family: FontAwesome;
      visibility: visible;
      display: block;
      height: 18px;
      width: 18px;
      display: inline-block;
      border: 2px solid #FFF;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -o-border-radius: 30px;
      -ms-border-radius: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .callbacks_nav {
    top: 47%;
  }
}

/*----*/

.callbacks_here a:after {
  border: 2px solid #F4BB36;
}

.tittle-head {
  text-align: center;
  margin: 8% auto;
  width: 58%;

  h1 {
    color: #fff;
    font-size: 4em;
    padding: 0;
    font-weight: 700;
    text-align: center;
    line-height: 1.4em;
  }

  p {
    color: rgba(#fff, 0.7);
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    margin: 1em 0;
  }
}

/*----*/

.learn-button {
  text-align: center;
}

/*----*/

.slide-btn {
  padding: 0.8em 2em;
  text-decoration: none;
  border: none;
  margin-top: 1em;
  display: inline-block;
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  background: #00B09C;
  font-weight: 700;
  text-transform: uppercase;
  width: 35%;

  &:hover {
    background: #019F8D;
    text-decoration: none;
    color: #fff;
  }
}

/*----//slider----*/

.about {
  padding: 4em 0;
}

.about-head {
  padding: 2em 0;
  text-align: center;

  h3 {
    color: #333;
    font-size: 4em;
    font-weight: 700;
    margin: 0;
  }

  span {
    color: #888888;
    font-size: 1.55em;
    font-weight: 300;
  }

  p {
    color: #757575;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.8em;
    font-weight: 400;
    margin-top: 0.6em;
    padding-bottom: 1em;
  }
}

/*--services--*/

.services {
  padding-top: 2em;
  background: #f8f8f8;
  padding-bottom: 6em;
}

i {
  &.icon1 {
    width: 105px;
    height: 105px;
    background: url(../images/icons-spt.png) no-repeat -17px -11px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    cursor: pointer;
  }

  &.icon2 {
    width: 105px;
    height: 105px;
    background: url(../images/icons-spt.png) no-repeat -144px -12px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    cursor: pointer;
  }

  &.icon3 {
    width: 105px;
    height: 105px;
    background: url(../images/icons-spt.png) no-repeat -266px -12px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    cursor: pointer;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
  }

  &.icon1:hover {
    background: url(../images/icons-spt.png) no-repeat -17px -121px;
  }

  &.icon2:hover {
    background: url(../images/icons-spt.png) no-repeat -144px -126px;
  }

  &.icon3:hover {
    background: url(../images/icons-spt.png) no-repeat -266px -123px;
  }
}

.service_grid {
  h3 {
    color: #333;
    font-size: 2em;
    text-decoration: none;
    font-weight: 900;
    margin-top: 1em;
  }

  p {
    color: #424242;
    font-size: 0.95em;
    line-height: 1.7em;
    width: 90%;
    margin: 0.5em auto;
    font-weight: 400;
  }
}

.approach {
  background: #f3f3f3;
  padding: 5em 0 2em;
}

.gallery-head h3, .port-head h3, .speaker-head h3, .feed-head h3 {
  color: #222222;
  font-weight: 900;
  font-size: 4em;
  margin: 0;
}

.gallery-head p, .port-head p, .speaker-head p, .feed-head p {
  color: #888888;
  font-size: 1.55em;
  font-weight: 300;
  margin: 0.5em 0;
}

.gallery-head {
  margin: 4em 0;
}

/******************/

.register-banner {
  background: url(../images/dow-bg.jpg) no-repeat 50% 50% fixed;
  background-size: cover;
  min-height: 400px;
}

.potrfolio-head {
  text-align: center;
  margin: 8% auto;
}

.potrfolio-content {
  padding-bottom: 6em;
}

.port-head {
  text-align: center;
  padding: 3em 0;
}

.potrfolio-head h2 {
  color: #fff;
  font-size: 4em;
  padding: 0;
  font-weight: 700;
  line-height: 1.4em;
}

.prt-btn, .con-btn {
  padding: 0.6em 2em;
  text-decoration: none;
  border: 2px solid #fff;
  margin-top: 1em;
  display: inline-block;
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  background: none;
  font-weight: 300;
  width: 30%;
}

.prt-btn:hover, .con-btn:hover {
  border: 2px solid #019F8D;
  text-decoration: none;
  color: #fff;
}

#portfoliolist {
  text-align: center;
  margin: 0 auto;
  width: 87%;
}

/* CSS3 STYLE GENERIC */

.speech-thumb {
  border-radius: 50%;

  &, img {
    width: 100%;
  }
}

.view {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 10px 10px;
}

.view2 {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin: 33px 50px;
}

.view {
  .mask, .contentn {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.view2 {
  .mask, .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.view img, .view2 img {
  display: block;
  position: relative;
}

.view a.info {
  background: url(../images/caption.png) center no-repeat;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 298px;
  height: 65px;
}

.view2 a.info {
  background: url(../images/zoom.png) center no-repeat;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 145px;
  height: 62px;
}

/* CSS3 EFFECTS */
/* SECOND EFFECTS */

.second-effect {
  .mask {
    opacity: 0;
    overflow: visible;
    border: 0px solid rgba(0, 176, 156, 0.61);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  a.info {
    position: relative;
    top: 45%;
    left: -10px;
    opacity: 0;
    -moz-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  }
}

.second-effect2 a.info {
  position: relative;
  top: 45%;
  left: 0px;
  opacity: 0;
  -moz-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
  transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.second-effect:hover .mask, .second-effect2:hover .mask {
  opacity: 1;
  background: rgba(0, 176, 156, 0.61);
  cursor: pointer;
}

.second-effect:hover a.info, .second-effect2:hover a.info {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/****end-CSS3 EFFECTS *****/

.sections {
  padding-top: 4em;
  padding-bottom: 8em;
}

#speakers {
  background: #f8f8f8;
}

.section-head,
.speaker-head {
  margin: 2em 0;
}

.speaker-head {
  text-align: center;
}

.speakers-head {
  margin: 4em 0;
}

.section-head,
.speaker_grid {
  h3 {
    color: #424242;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 900;
    margin-top: 1em;

    small {
      display: block;
      margin-top: .4em;
      line-height: 1.6em;
    }
  }

  p {
    color: #424242;
    font-size: 0.95em;
    line-height: 1.7em;
    width: 90%;
    margin: 0.5em auto;
    font-weight: 400;
  }
}

/******contact***********/

.location {
  background: url(../images/bg-map.jpg);
  background-size: cover;
  min-height: 400px;
}

.location-head {
  text-align: center;
  padding: 4.5em 0;

  p {
    color: rgba(#fff, 0.7);
  }

  h2 {
    color: #fff;
    font-size: 3.2em;
    padding: 0;
    font-weight: 700;
    line-height: 1.4em;
  }
}

#contact {
  background: url(../images/bg-4.jpg);
  background-size: cover;
  min-height: 654px;
}

.feed-head {
  padding: 2em 0;
  text-align: center;
}

.contact-form {
  input[type="text"] {
    width: 46.85%;
    background: #fff;
    padding: 0.8em;
    font-weight: 300;
    font-size: 1.3em;
    color: #666;
    border: 1px solid #DADADA;
    outline: none;
    -webkit-appearance: none;
    margin-bottom: 14px;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
  }

  textarea {
    width: 94%;
    min-height: 254px;
    resize: none;
    outline: none;
    background: #fff;
    padding: 0.8em;
    font-size: 1.3em;
    color: #666;
    border: 1px solid #DADADA;
    -webkit-appearance: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    font-weight: 300;
  }

  input[type="submit"] {
    outline: none;
    -webkit-appearance: none;
    padding: 0.5em 1em;
    width: 29%;
    font-size: 1.5em;
    background: #00B09C;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    text-align: center;
    border: none;
    cursor: pointer;
    margin: 4px 42px;
    float: right;
    font-weight: 300;

    &:hover {
      background: #019F8D;
      text-decoration: none;
    }
  }
}

.address {
  h4 {
    font-size: 2em;
    color: #222;
    font-weight: 700;
  }

  p {
    color: #888888;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;

    a {
      color: #888888;
      font-size: 1.1em;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        color: #00B09C;
      }
    }
  }
}

.footer-icons ul li a i {
  width: 42px;
  height: 42px;
  display: inline-block;
  background: url("../images/icons-spt.png") no-repeat;
  vertical-align: middle;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

ul.soc_icons {
  padding: 0;
}

.footer-icons ul li {
  list-style: none;

  a i {
    &.icon_1 {
      background-position: -11px -279px;

      &:hover {
        background-position: -11px -328px;
      }
    }

    &.icon_2 {
      background-position: -69px -279px;

      &:hover {
        background-position: -69px -328px;
      }
    }

    &.icon_3 {
      background-position: -124px -278px;

      &:hover {
        background-position: -124px -328px;
      }
    }

    &.icon_4 {
      background-position: -181px -279px;

      &:hover {
        background-position: -181px -328px;
      }
    }
  }
}

/*********************/

.logo2 {
  float: left;
  margin-top: 0.8em;
}

.copy-right {
  float: right;
  margin-top: 0.8em;
}

.footer {
  background: #333333;
  padding: 1em 0;
}

.copy-right p {
  color: #fff;
  font-weight: 300;
  font-size: 1.15em;

  a {
    color: #00B09C;
  }
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 29px;
  right: 3%;
  overflow: hidden;
  width: 30px;
  height: 23px;
  border: none;
  text-indent: 100%;
  background: url("../images/top-up.png") no-repeat 0px 0px;
}

#toTopHover {
  width: 30px;
  height: 23px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity = 0);
}

/*---- responsive-design -----*/
@media (max-width: 1366px) {
  .about-head h3,
  .gallery-head h3,
  .port-head h3,
  .speaker-head h3,
  .feed-head h3,
  .potrfolio-head h2 {
    font-size: 3.8em;
  }
}

@media (max-width: 1280px) {
  .main-header {
    min-height: 650px;
  }

  .about-head h3,
  .gallery-head h3,
  .port-head h3,
  .speaker-head h3,
  .feed-head h3,
  .potrfolio-head h2 {
    font-size: 3.8em;
  }

  .slide-btn {
    width: 34%;
  }
}

@media (max-width: 1024px) {
  .main-header {
    min-height: 600px;
  }

  .about-head h3,
  .gallery-head h3,
  .port-head h3,
  .speaker-head h3,
  .feed-head h3,
  .potrfolio-head h2 {
    font-size: 3.5em;
  }

  .slide-btn {
    width: 48%;
    padding: 0.7em 1em;
  }

  .tittle-head {
    margin: 7% auto;

    p {
      margin: 0.5em 0;
    }
  }

  .about {
    padding: 3em 0;
  }

  .services {
    padding-top: 1em;
    padding-bottom: 4em;
  }

  .service_grid p,
  .speaker_grid p {
    width: 88%;
  }

  .prt-btn, .con-btn {
    width: 31%;
  }

  #portfoliolist {
    text-align: center;
    margin: 1% 0% 6% 15%;
  }

  .view2 {
    margin: 33px 11px;
  }

  .contact-form input[type="submit"] {
    width: 39%;
    font-size: 1.5em;
    margin: 4px 38px;
  }

  .contact-head {
    padding: 5em 0;
  }
}

@media (max-width: 768px) {
  .tittle-head {
    h1 {
      font-size: 3.6em;
    }

    p {
      font-size: 2.73em;
    }
  }

  .main-header {
    min-height: 435px;
    background-size: inherit;
  }

  .about-head h3, .gallery-head h3, .port-head h3, .speaker-head h3, .feed-head h3, .potrfolio-head h2 {
    font-size: 3.2em;
  }

  .potrfolio-content {
    padding-bottom: 5em;
  }

  .tittle-head {
    margin: 6% auto;
    width: 94%;
  }

  .slide-btn {
    width: 36%;
    padding: 0.7em 1em;
    margin-top: 10px;
  }

  .about-head {
    padding: 0em 0;
  }

  .prt-btn, .con-btn {
    width: 44%;
  }

  .view {
    img {
      width: 100%;
    }

    float: none;
  }

  #portfoliolist {
    width: 100%;
    margin: 0;
  }

  .portfolio-grids {
    margin: 1px 0% 2% 0%;
  }

  .view2 {
    float: none;
    margin: 1% 0 0% 29%;

    .mask, .content {
      width: 53%;
    }
  }

  #contact {
    background: url(../images/bg-4.jpg);
    background-size: cover;
    min-height: 650px;
    padding-bottom: 2em;
  }

  .speaker_grid p {
    padding-bottom: 1.5em;
  }

  .contact-form {
    input[type="text"] {
      width: 48.85%;
    }

    textarea {
      width: 98%;
    }
  }

  .address {
    margin-top: 4em;
  }

  .logo2, .copy-right {
    float: none;
    margin-top: 1em;
    text-align: center;
  }

  .contact-form input[type="submit"] {
    width: 39%;
    font-size: 1.5em;
    margin: 4px 15px;
  }
}

@media (max-width: 640px) {
  .main-header {
    min-height: 354px;
  }

  .view2 {
    .mask, .content {
      width: 66%;
    }
  }

  .tittle-head {
    h1 {
      font-size: 3em;
    }

    p {
      margin: 2px 0;
      font-size: 2.5em;
    }
  }

  .slide-btn {
    width: 39%;
    padding: 0.5em 1em;
    margin-top: 10px;
  }

  .about {
    padding: 2em 0;
  }

  .about-head h3, .gallery-head h3, .port-head h3, .speaker-head h3, .feed-head h3, .potrfolio-head h2 {
    font-size: 2.7em;
  }

  .about-head p {
    font-size: 1em;
  }

  .services {
    padding-top: 0em;
    padding-bottom: 3em;
  }

  .prt-btn, .con-btn {
    width: 49%;
  }

  .portfolio {
    background: url(../images/dow-bg.jpg);
    min-height: 354px;
  }

  .view {
    img {
      width: 100%;
    }

    float: none;
  }

  #portfoliolist {
    width: 100%;
    margin: 0;
  }

  .address {
    margin-top: 4em;
  }

  .copy-right p {
    font-size: 1em;
  }

  .prt-btn, .con-btn {
    width: 54%;
  }

  .address h4 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .main-header {
    min-height: 295px;
  }

  .contact-head h3 {
    font-size: 3.7em;
  }

  .tittle-head {
    h1 {
      font-size: 2em;
    }

    p {
      margin: 0px 0;
      font-size: 1.6em;
    }
  }

  .slide-btn {
    width: 40%;
    padding: 0.7em 1em;
    margin-top: 10px;
    font-size: 1em;
  }

  .about-head {
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 2em;
    }
  }

  .gallery-head h3, .port-head h3, .speaker-head h3, .feed-head h3, .potrfolio-head h2 {
    font-size: 2em;
  }

  .gallery-head {
    margin: 2em 0;
  }

  .service_grid h3 {
    font-size: 1.4em;
  }

  .prt-btn, .con-btn {
    width: 60%;
    padding: 0.5em 0.5em;
  }

  .portfolio {
    background: url(../images/dow-bg.jpg);
    min-height: 299px;
  }

  .port-head {
    padding: 2em 0;
  }

  #speaker {
    padding-top: 1em;
    padding-bottom: 3em;
  }

  .potrfolio-content {
    padding-bottom: 4em;
  }

  .view2 {
    float: none;
    margin: 1% 0 0% 18%;

    .mask, .content {
      width: 78%;
    }
  }

  .contact {
    background: url(../images/bg-3.jpg);
    min-height: 351px;
  }

  .contact-form {
    input[type="text"] {
      width: 98.85%;
      padding: 0.5em 0.5em;
    }

    textarea {
      width: 98.5%;
      min-height: 162px;
    }
  }

  .address {
    margin-top: 7em;
  }

  .contact-form input[type="submit"] {
    width: 97%;
    font-size: 1.5em;
    margin: 4px 9px;
  }

  .logo2 {
    float: none;
    margin-top: 1em;
    text-align: center;
  }

  .copy-right {
    float: none;
    text-align: center;
    margin-bottom: 1em;
  }

  .speaker_grid h3, .address h4 {
    font-size: 1.5em;
  }

  .copy-right p {
    font-size: 1em;
    line-height: 1.8em;
  }
}

@media (max-width: 320px) {
  .logo {
    margin: 2em -1em;
  }

  .main-header {
    min-height: 243px;
  }

  .tittle-head {
    h1 {
      font-size: 1.6em;
    }

    p {
      margin: 3px 0;
      font-size: 1.3em;
    }
  }

  .slide-btn {
    width: 51%;
    padding: 0.7em 1em;
    margin-top: 5px;
    font-size: 15px;
  }

  .about {
    padding: 1em 0;
  }

  .about-head h3, .gallery-head h3, .port-head h3, .speaker-head h3, .feed-head h3, .potrfolio-head h2 {
    font-size: 1.4em;
  }

  .about-head {
    span {
      font-size: 1.1em;
    }

    p {
      font-size: 15px;
      line-height: 1.6em;
      overflow: hidden;
      height: 138px;
    }
  }

  .service_grid {
    h3 {
      font-size: 1.05em;
    }

    p {
      width: 96%;
      font-size: 15px;
    }
  }

  .speaker_grid p {
    width: 96%;
    font-size: 15px;
  }

  .prt-btn, .con-btn {
    width: 65%;
    padding: 0.5em 0.5em;
    font-size: 16px;
  }

  .tittle-head {
    margin: 12% auto;
    width: 94%;
  }

  nav ul {
    margin: 0;
    background: #eee;
  }

  .portfolio {
    background: url(../images/dow-bg.jpg);
    min-height: 184px;
  }

  .port-head {
    padding: 1.96em 0;
  }

  .gallery-head p, .port-head p, .speaker-head p, .feed-head p {
    font-size: 1.1em;
  }

  .potrfolio-content {
    padding-bottom: 1em;
  }

  .view2 {
    float: none;
    margin: 1% 0 0% 0%;
  }

  .speaker_grid h3 {
    font-size: 1.05em;
  }

  .contact-head {
    h3 {
      font-size: 2em;
    }

    padding: 2em 0;
  }

  #speaker {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .contact {
    background: url(../images/bg-3.jpg);
    min-height: 231px;
  }

  .contact-form {
    input[type="text"] {
      width: 100%;
      padding: 0.45em 0.45em;
      font-size: 15px;
      margin-bottom: 6px;
    }

    textarea {
      width: 100%;
      min-height: 110px;
      font-size: 15px;
    }

    input[type="submit"] {
      width: 98.6%;
      font-size: 1em;
      margin: 4px 1px;
      padding: 9px 11px;
    }
  }

  .view2 {
    .mask, .content {
      width: 100%;
    }
  }
}

.schedule-tbl {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}

.schedule-time {
  width: 13%;
}

.schedule-slot {
  width: 25%;
  color: #2b2b2b;
}

.schedule-tbl tbody tr:hover {
  background: #fffde1;
}

.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {
  color: #214f87;
}