<!-- FOOTER -->
<!-- <footer class="footer"></footer> -->
<!-- / FOOTER -->

<script src="/assets/js/jquery.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script type="application/x-javascript">
  addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
  }, false);
  function hideURLbar() {
      window.scrollTo(0, 1);
  }
</script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".scroll").click(function(event) {
        event.preventDefault();
        $('html,body').animate({
            scrollTop: $(this.hash).offset().top
        }, 1000);
    });
});

$(function() {
    var pull = $('#pull');
    menu = $('nav ul');
    menuHeight = menu.height();
    pull.on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
    });
    $(window).resize(function() {
        var w = $(window).width();
        if (w > 320 && menu.is(':hidden')) {
            menu.removeAttr('style');
        }
    });
});

$(document).ready(function() {
    /*
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear'
    };
    */

    $().UItoTop({
        easingType: 'easeOutQuart'
    });

});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>